body {
    background: rgb(240, 240, 240);
}

.card__list {
    margin: 0 auto;
    padding: 30px 20px;
    width: 700px;
}

.card__item {
    margin: 30px auto;
    padding: 10px;
    border-bottom: 2px solid rgb(192, 192, 192);
}

.card__item:hover {
    background: rgb(226, 226, 226);
    border-bottom: 2px solid rgb(163, 163, 163);
}

.card__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.card__name {
    font-size: 20px;
    padding-right: 15px;
}

.card__email {
    color:rgb(107, 107, 107);
}

.card__title {
    color:rgb(65, 65, 65);
    padding: 10px 20px;
    font-size: 18px;
    text-transform: capitalize;
}

.card__title::before {
    content: "-";
    padding-right: 5px;
}

.card__delete {
    height: 15px;
    width: 15px;
    background: center/cover url("../img/delete.png");
    cursor: pointer;
}